@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* .bg-gradient-to-r {
    background: linear-gradient(to right, #a6d7e7, #c6dae0);
} */
@layer base {
    html {
      font-family: "Proxima Nova", system-ui, sans-serif;
      color: gray-800;
    }
  }
  .gradient-border {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff; /* Background color for the content */
    overflow: hidden; /* Ensures the gradient doesn't overflow */
  }
  
  .gradient-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #ff6b6b, #f7d794, #55efc4, #1e90ff); /* Gradient colors */
    z-index: -1;
    border-radius: 8px;
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
    padding: 2px; /* Width of the gradient border */
    box-sizing: border-box;
  }
  
  @keyframes gradientAnimation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
  }